<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Website Icon -->
    <link rel="icon" href="images/website_icon.png">

    <!-- Website Title -->
    <title>Meeting Requests</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="/styles/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/styles/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/styles/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/styles/vendor/animate/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/styles/vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/styles/vendor/perfect-scrollbar/perfect-scrollbar.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/styles/css/util.css">
	<link rel="stylesheet" type="text/css" href="/styles/css/main.css">
<!--===============================================================================================-->



    <!-- External CSS -->
    <link rel="stylesheet" href="/styles/css/index.css">

    <!-- Font Awesome Fonts -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

  </head>

  <body>

    <%- include('./header.ejs') %>

</head>
<body>
	
	<div class="limiter" style="background:#d9e7e8 !important;">
		
		<div class="container-table100">
			<h2 style="margin-top:10vh;">ALL MEETING REQUESTS</h2>
			<div class="wrap-table100" style="width:90vw; ">
				
				<div class="table100 ver1">
					<div class="table100-firstcol" style="height:100%;z-index:1000;">
						
						<table style="height:100%;">
							<thead>
								<tr class="row100 head">
									<th class="cell100 column1">Name</th>
								</tr>
							</thead>
							<tbody>
                                <% for(var i = 0; i< records.length; i++ ) {%>
                                    <tr class="row100 body">
                                        <td class="cell100 column1"><%= records[i].fullname %></td>
                                    </tr>
                                <% } %>
							</tbody>
						</table>
					</div>
					
					<div class="wrap-table100-nextcols js-pscroll">
						<div class="table100-nextcols">
							<table>
								<thead>
									<tr class="row100 head">
                                        <th class="cell100 column2">Email</th>
                                        <th class="cell100 column8">Gender</th>
                                        <th class="cell100 column8">Married(Yes/No)</th>
                                        <th class="cell100 column8">Age</th>
										<th class="cell100 column3">Job</th>
										<th class="cell100 column4">Address</th>
										<th class="cell100 column5">Phone No</th>
										<th class="cell100 column6">Income in Rs</th>
										<th class="cell100 column7">Reason of Meeting</th>
										<th class="cell100 column7">Preferred Date of Meeting</th>
										<th class="cell100 column8">Available Time</th>
									</tr>
                                </thead>
                                
								<tbody>
                                    <% for(var i = 0; i< records.length; i++ ) {%>
                                        <tr class="row100 body">
                                            <td class="cell100 column2" style="padding-left:0px;"><%=records[i].email%></td>
                                            <td class="cell100 column3"><%=records[i].gender%></td>
                                            <td class="cell100 column4"><%=records[i].marriage%></td>
                                            <td class="cell100 column5"><%=records[i].age%></td>
                                            <td class="cell100 column6"><%=records[i].job%></td>
                                            <td class="cell100 column7"><%=records[i].address%></td>
                                            <td class="cell100 column7"><%=records[i].phonenumber%></td>
                                            <td class="cell100 column7"><%=records[i].income%></td>
                                            <td class="cell100 column7"><%=records[i].reason%></td>
											<td class="cell100 column7"><%=records[i].date%></td>
                                            <td class="cell100 column7"><%=records[i].time%></td>
                                        </tr>
                                    <% } %> 
									

									
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Footer Section -->
    <%- include('./footer.ejs') %>

<!--===============================================================================================-->	
	<script src="/styles/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="/styles/vendor/bootstrap/js/popper.js"></script>
	<script src="/styles/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="/styles/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="/styles/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
	<script>
		$('.js-pscroll').each(function(){
			var ps = new PerfectScrollbar(this);

			$(window).on('resize', function(){
				ps.update();
			})

			$(this).on('ps-x-reach-start', function(){
				$(this).parent().find('.table100-firstcol').removeClass('shadow-table100-firstcol');
			});

			$(this).on('ps-scroll-x', function(){
				$(this).parent().find('.table100-firstcol').addClass('shadow-table100-firstcol');
			});

		});

		
		
		
	</script>

<!--===============================================================================================-->
	<script src="../main.js"></script>




</body>
</html>